<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Master - Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('signup.static', filename='css/signup.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='media/img/logo.jpg') }}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index.homepage') }}">Home</a></li>
                <li><a href="{{ url_for('workshops.workshops_page') }}">Workshops</a></li>
                <li><a href="{{ url_for('signup.signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login.login') }}">Login</a></li>
                <li><a href="{{ url_for('contact.contact') }}">Contact</a></li>
                {% if session['user'] %}
                     <a href="{{ url_for('logout.logout') }}">Logout</a>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Sign Up Form -->
    <main>
        <div class="signup-form">
            <h2>Sign Up</h2>
        <form action="{{ url_for('signup.signup') }}" method="POST">
    <label for="full-name">Full Name:</label>
    <input type="text" id="full-name" name="full-name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" min="1" required>

    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone" required>

    <button type="submit" class="button">Be A Master!</button>
</form>

        </div>
    </main>

    <!-- JavaScript -->
    <script src="{{ url_for('signup.static', filename='js/signup.js') }}"></script>
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Cook Master. All rights reserved.</p>
    </footer>
</body>
</html>
